
body {
    background-color: #faf5f5;
}

h2 {
    background-color: lavender;
    color: black;
    text-align: center;
}
p{
    text-indent: 15px;
}

.btn{
    border: 2px 2px;
    background-color:white;
    color: black;
    padding: 14px 28px;
    cursor: pointer;
}

.yes{
    border-color: grey;
    color: black;
  }
.yes:hover{
    background-color: gray;
    color: honeydew;
}

.no{
    border-color: grey;
    color: black;
  }
  .no:hover{
    background-color: gray;
    color: honeydew;
}