@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
.size{
    max-height:470;
    max-width:780;
    opacity: 0.3;
}
.Heading {
    text-align: center;
    text-decoration:underline;
}
.connect{
    border: solid black;
}
.navbar-nav>li {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    
}
.dropdown-menu a{
    
    color: black !important;
    }

.carousel-inner img{
    width: 80%;
    height: 100%;
    padding-left: 40%;
}

/*social media styling*/
.social a{
    font-size: 2.5em;
    padding: 1.5rem;
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color:#55acee ;
}
.fa-youtube{
    color: #cd201f;
}
.fa-instagram{
    color: #3f729b;
}
.fa-instagram:hover,
.fa-youtube:hover,
.fa-twitter:hover,
.fa-facebook:hover
{
    color:maroon;
}

/*footer styling*/
footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    
}
footer a{
    color: #d5d5d5;
}

hr.light-100{
     border-top: 1px solid #d5d5d5;
     width: 100%;
     margin-top: 0.8rem;
     margin-bottom: 1rem;
     
}
/* Notification Box Styling */


@media (max-width: 576px) {
}


@media (max-width: 768px) {
}


@media (max-width: 992px) {
    .social a{
        font-size: 4em;
        padding: 2rem;
    }
}





